.repository {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.idleRepos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.status {
    height: 220px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
